<template>
    <section class="cart-sidebar" v-bind:class="{ 'cart-sidebar-open': isOpen }">
        <div class="space-55"></div>
        <div class="container">
            <div class="title">В корзине</div>
        </div>
        <div class="cart-container">
            <div class="container">
                <div class="article-container">
                    <article v-for="product in $store.getters.getProductsInCart" :key="product.id">
                        <div class="article-box">
                            <div class="article-box-left">
                                <div class="article-thumbnail">
                                    <img :src="'/products/' + product.images.thumbnail" :alt="product.name">
                                </div>
                                <div class="article-description">
                                    <div class="article-key">{{product.key}}</div>
                                    <div class="article-data">
                                        {{getMaleTitleById(product.male)}} <span>/</span> {{getProductSizeDataInCart(product.id).label}}
                                    </div>
                                </div>
                            </div>
                            <div class="article-box-right">
                                <div class="article-price"><span>{{product.price}}</span> {{$store.state.currency}}</div>
                            </div>
                        </div>
                        <div class="article-remove" v-on:click="removeProduct(product.id)">
                            <span></span>
                            <span></span>
                        </div>
                    </article>
                </div>
                <div class="total-container">
                    <div class="total-description">Итого: <span>{{$store.getters.cartTotal}}</span> {{$store.state.currency}}</div>
                    <router-link :to="{ name: 'cart'}" class="button" @click.native="headerCartAction()">Оплатить</router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

    import Mixins from '@/mixins/main';
    import MixinsProducts from '@/mixins/products';

    export default {
        name: "Sidebar",
        props: ['isOpen'],
        mixins: [Mixins, MixinsProducts],
        methods: {
            headerCartAction: function () {
                this.$emit('changeCartSidebarStatus');
            }
        }
    }
</script>

<style lang="scss">

    @import "../../../src/assets/scss/variables";

    .cart-sidebar{
        position: fixed;
        right: calc(-#{$vw_610} - #{$vw_34});
        top: 0;
        height: 100vh;
        width: calc(#{$vw_610} + #{$vw_34});
        background-color: white;
        box-sizing: border-box;
        border-left: 1px solid #f5f5f5;
        transition: .3s;
        z-index: 4;
        .cart-container .container{
            padding-right: 0;
        }
        .article-container{
            max-height: calc(100vh - (#{$vw_55 * 4 + $vw_68}));
            overflow-y: scroll;
            overflow-x: hidden;
        }
        article{
            background-color: #F1F1F1;
            border-radius: $vw_3;
            padding: $vw_13;
            margin-right: $vw_55;
            box-sizing: border-box;
            text-transform: uppercase;
            position: relative;
            margin-bottom: $vw_34;
            .article-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .article-box-left{
                    display: flex;
                    align-items: center;
                }
                .article-thumbnail{
                    height: $vw_89;
                    width: $vw_68;
                    background-color: white;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .article-description{
                    padding-left: $vw_21;
                    .article-data{
                        font-weight: bold;
                        span{
                            font-weight: normal;
                        }
                    }
                }
                .article-price{
                    padding-right: $vw_21;
                    span{
                        font-weight: bold;
                    }
                }
            }
        }

        &.cart-sidebar-open{
            right: 0;
            transition: .3s;
        }

        .total-container{
            padding-top: $vw_21;
            padding-right: $vw_55;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .button{
                display: block;
                line-height: $vw_55;
                height: $vw_55;
                padding: 0 $vw_68;
                border-radius: $vw_34;
                text-transform: uppercase;
                color: white;
                font-size: $vw_21;
                font-weight: bold;
                background-color: #303030;
                transition: .4s;
                text-decoration: none;
                &:hover{
                    background-color: black;
                    transition: .4s;
                }
            }
            .total-description{
                font-size: $vw_21;
                padding-right: $vw_42;
                span{
                    font-weight: bold;
                }
            }
        }
    }
</style>