@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-Heavy.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-Heavy.woff') format('woff'),
  url('/assets/fonts/panton/Panton-Heavy.svg#Panton-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-ExtraBold.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-ExtraBold.woff') format('woff'),
  url('/assets/fonts/panton/Panton-ExtraBold.svg#Panton-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-SemiBold.woff') format('woff'),
  url('/assets/fonts/panton/Panton-SemiBold.svg#Panton-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-Light.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-Light.woff') format('woff'),
  url('/assets/fonts/panton/Panton-Light.svg#Panton-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-Bold.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-Bold.woff') format('woff'),
  url('/assets/fonts/panton/Panton-Bold.svg#Panton-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-Thin.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-Thin.woff') format('woff'),
  url('/assets/fonts/panton/Panton-Thin.svg#Panton-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-Black.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-Black.woff') format('woff'),
  url('/assets/fonts/panton/Panton-Black.svg#Panton-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-ExtraLight.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-ExtraLight.woff') format('woff'),
  url('/assets/fonts/panton/Panton-ExtraLight.svg#Panton-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Panton';
  src: url('/assets/fonts/panton/Panton-Regular.woff2') format('woff2'),
  url('/assets/fonts/panton/Panton-Regular.woff') format('woff'),
  url('/assets/fonts/panton/Panton-Regular.svg#Panton-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}