//Colors
$c_black: black;
$c_white: white;
$c_dark_white: #f1f1f1;
$c_grey_light: #c3c3c3;
$c_grey: #545454;
$c_grey_dark: #303030;
$c_black_light: #888;

// Sizes
$vw_1: 0.052vw;
$vw_2: 0.104vw;
$vw_3: 0.156vw;
$vw_5: 0.260vw;
$vw_8: 0.416vw;
$vw_13: 0.677vw;
$vw_16: 0.833vw;
$vw_21: 1.093vw;
$vw_26: 1.354vw;
$vw_34: 1.77vw;
$vw_42: 2.1875vw;
$vw_55: 2.864vw;
$vw_68: 3.541vw;
$vw_89: 4.635vw;
$vw_110: 5.729vw;
$vw_144: 7.5vw;
$vw_178: 9.27vw;
$vw_233: 12.135vw;
$vw_288: 15vw;
$vw_377: 19.635vw;
$vw_610: 31.77vw;
$vw_987: 51.406vw;