<template>
    <section class="products-container">
        <div class="title">{{title}}</div>
       <div class="products-archive">
           <article v-for="(item, index) in items"
                    :key="index"
                    v-wow="{ 'animation-name': 'fadeInUp','animation-duration': '.8s'}"
                    data-wow-delay="2s"
           >
               <div class="product-data">
                   <router-link :to="{ name: 'product', params: {url: item.url}}">
                       <div class="product-image-block">
                           <img :src="'/products/' + item.images.main" :alt="item.name">
                           <img class="cover" :src="'/products/' + item.images.cover" :alt="item.name + '_cover'">
                       </div>
                       <h6>{{item.name}}</h6>
                       <div class="price">{{item.price}} {{$store.state.currency}}</div>
                   </router-link>
               </div>
           </article>
       </div>
    </section>
</template>

<script>

    // import Mixins from '@/mixins/main'

    export default {
        name: "Container",
        // mixins: [Mixins],
        props: {
            title: {
                type: String,
                required: true
            },
            items: {
                type: Array,
            }
        }
    }
</script>

<style lang="scss">

    @import "../../../src/assets/scss/variables";

    .products-container{
        .title{
            padding-top: $vw_233;
        }
        .products-archive{
            display: flex;
            flex-wrap: wrap;
            margin-left: -$vw_55;
        }
        article{
            padding-left: $vw_55;
            width: 33.333%;
            box-sizing: border-box;
            padding-bottom: $vw_55;
            .product-image-block{
                overflow: hidden;
                height: calc(#{$vw_610} + #{$vw_144});
                position: relative;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s;
                &.cover{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
            h6{
                margin-top: -$vw_13;
                padding-top: $vw_16;
                background-color: $c_white;
                font-size: $vw_21;
                font-weight: bold;
                color: $c_black;
                position: relative;
            }
            .price{
                font-size: $vw_21;
                font-weight: normal;
                color: $c_black;
            }
            a{
                text-decoration: none;
                &:hover{
                    img.cover{
                        transition: .5s;
                        opacity: 1;
                        /*transform: scale(1.2);*/
                    }
                }
            }
        }
    }
</style>