<template>
    <div class="burger-container" @click="changeStatus()">
        <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Burger",
        methods: {
            changeStatus: function () {
                this.$emit('changeMenuStatus');
            }
        }
    }
</script>

<style lang="scss">
    .burger-container{
        height: 1.093vw;
        width: 100%;
        max-width: 7.5vw;
    }
    .burger-menu{
        height: 100%;
        width: 1.345vw;
        position: relative;
        cursor: pointer;
        span{
            height: 0.104vw;
            width: 100%;
            background-color: white;
            position: absolute;
            transition: .3s;
            left: 0;
            top: 0;
            &:nth-child(2){
                top: calc(50% - 0.052vw);
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
        }
        &:hover{
            span:nth-child(2){
                width: 70%;
            }
        }
        .menu-open &{
            span:nth-child(2){
                width: 0;
                left: 50%;
            }
            span:first-child,
            span:last-child{
                top: calc(50% - 0.052vw);
            }
            span:first-child{
                transform: rotate(45deg);
            }
            span:last-child{
                transform: rotate(-45deg);
            }
        }

    }
</style>