<template>
    <div class="cart-container">
        <div class="cart-icon" @click="headerCartAction()">
            <img src="@/assets/img/icons/cart.svg">
            <div class="cart-icon-close">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="cart-total">{{cartTotal}}</div>
    </div>
</template>

<script>
    export default {
        name: "Cart",
        methods: {
            headerCartAction: function () {
                this.$emit('changeCartSidebarStatus');
            }
        },
        computed:{
            cartTotal: function () {
                if( this.$store.state.cart.products.length){
                    return this.$store.getters.cartTotal + ' ' + this.$store.state.currency;
                }

                return '';
            }
        }
    }
</script>

<style lang="scss">

    @import "../../../../src/assets/scss/variables";

    header{
        .cart-container{
            height: 1.093vw;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 7.5vw;
            justify-content: flex-end;
            .cart-total{
                color: $c_white;
                font-size: $vw_21;
                font-weight: 600;
                padding-left: $vw_8;
            }
            .cart-icon{
                position: relative;
                cursor: pointer;
                height: 100%;
                transition: .3s;
                width: $vw_26;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: auto;
                    opacity: 1;
                    transition: .3s;
                }
                &:hover{
                    filter: invert(.3);
                    transition: .3s;
                }
            }
        }
        &.cart-sidebar-open{
            .cart-icon-close{
                display: block;
                position: relative;
                z-index: 1;
                height: 100%;
                width: $vw_26;
                span{
                    position: absolute;
                    height: $vw_2;
                    width: 100%;
                    background-color: $c_white;
                    top: calc(50% - #{$vw_1});
                    transition: .3s;
                    &:first-child{
                        transform: rotate(45deg);
                    }
                    &:last-child{
                        transform: rotate(-45deg);
                    }
                }
            }
            .cart-container{
                .cart-icon img{
                    opacity: 0;
                    transition: .3s;
                }
            }
        }
    }
</style>