<template>
    <div class="main-logo">
        <router-link :to="{ name: 'home'}"><img src="@/assets/img/logo.svg"></router-link>

    </div>
</template>

<script>
    export default {
        name: "Logo"
    }
</script>

<style lang="scss">
    .main-logo{
        img{
            height: 1.77vw;
            width: auto;
            display: block;
        }
    }
</style>