<template>
    <menu class="main-menu">
        <router-link v-for="link in links" :key="link.id" :to="link.url" v-on:click.native="changeStatus()">{{link.name}}</router-link>
    </menu>
</template>

<script>
    export default {
        name: "Menu",
        data(){
            return{
                links: [
                    {name: 'Магазин', url: { name: 'shop'}},
                    {name: 'Мужчины', url: { name: 'category', params: {name: 'men'}}},
                    {name: 'Женщины', url: { name: 'category', params: {name: 'women'}}},
                    {name: 'Look book', url: { name: 'lookBook'}},
                    {name: 'Контакты', url: { name: 'contact'}},
                ]
            }
        },
        methods: {
            changeStatus: function () {
                this.$emit('changeMenuStatus');
            }
        }
    }
</script>

<style lang="scss">
    @import "../../../../src/assets/scss/variables";

    menu.main-menu{
        width: 100%;
        box-sizing: border-box;
        border: $vw_3 solid black;
        border-top: none;
        background-color: white;
        display: flex;
        height: $vw_233;

        transition: .4s;

        position: fixed;

        left: 0;
        /* top: - calc(#{$vw_233} + #{$vw_55}); */
        top: - $vw_233;
        z-index: 10;
        overflow: hidden;
        a{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border-right: $vw_3 solid $c_black;
            color: $c_black;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $vw_26;
            &:last-child{
                border-right: none;
            }
        }
        .menu-open &{
            top: $vw_55;
            transition: .4s;
        }
    }
</style>