<template>
    <main class="cart-page">
        <div class="space-55"></div>
        <div class="cart-container">
            <div class="cart-page-products">
                <div class="container">
                    <div class="title">Корзина</div>
                    <div class="space-89"></div>
                    <div class="cart-title">Счёт</div>
                    <div class="products-in-cart">
                        <article class="single-product-in-cart" v-for="product in $store.getters.getProductsInCart" :key="product.id">
                            <div class="left-container">
                                <img :src="'/products/' + product.images.thumbnail" :alt="product.name" class="product-img">
                                <div class="product-title">
                                    <div class="name"> <router-link :to="{ name: 'product', params: {url: product.url}}">{{product.name}}</router-link></div>
                                    <div class="article">{{product.key}}</div>
                                </div>
                            </div>
                            <div class="right-container">
                                <div class="product-male">{{getMaleTitleById(product.male)}}</div>
                                <div class="product-size">{{getProductSizeDataInCart(product.id).label}}</div>
                                <div class="product-price">{{product.price}} <span>{{$store.state.currency}}</span></div>
                            </div>
                            <div class="article-remove" v-on:click="removeProduct(product.id)">
                                <span></span>
                                <span></span>
                            </div>
                        </article>
                    </div>
                    <div class="cart-buy">
                        <div class="total">
                            Итого: <span>{{$store.getters.cartTotal}}</span> {{$store.state.currency}}
                        </div>
                        <button v-on:click="setData()">Оплатить</button>
                    </div>
                </div>
            </div>
            <div class="cart-page-sidebar">
                <div class="container">
                    <div class="title">Доставка</div>
                    <div class="form">
                        <div class="field-container">
                            <label for="form-name" v-bind:class="{'error': form.name.hasError }">Имя и фамилия получателя</label>
                            <input id="form-name" v-model="form.name.value">
                        </div>
                        <div class="form-row field-count-2">
                            <div class="field-container">
                                <label for="form-phone" v-bind:class="{'error': form.phone.hasError }">Телфон получателя</label>
                                <input id="form-phone" v-model="form.phone.value">
                            </div>
                            <div class="field-container">
                                <label for="form-country" v-bind:class="{'error': form.country.hasError }">Страна</label>
                                <input id="form-country" v-model="form.country.value">
                            </div>
                        </div>
                        <div class="field-container">
                            <label for="form-place" v-bind:class="{'error': form.place.hasError }">Город</label>
                            <input id="form-place" v-model="form.place.value">
                        </div>
                        <div class="field-container">
                            <label for="form-address" v-bind:class="{'error': form.address.hasError }">Улица, дом, квартира</label>
                            <input id="form-address" v-model="form.address.value">
                        </div>
                        <div class="field-container">
                            <label for="form-text" v-bind:class="{'error': form.text.hasError }">Примечание</label>
                            <textarea id="form-text" v-model="form.text.value"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>

    import Mixins from '@/mixins/main'
    import MixinsProduct from '@/mixins/products'

    export default {
        name: "Cart",
        mixins: [Mixins, MixinsProduct],
        data(){
            return {
                form: {
                    name: {value:'', required: true, hasError: false},
                    phone: {value:'', required: true, hasError: false},
                    country: {value:'', required: true, hasError: false},
                    place: {value:'', required: true, hasError: false},
                    address: {value:'', required: true, hasError: false},
                    text: {value:'', required: false, hasError: false}
                }
            }
        },
        methods: {
            setData() {
                if (this.$store.getters.getProductsInCart.length) {
                    let isSendData = true;

                    for (let key in this.form) {
                        let formInput = this.form[key];

                        if (formInput.value === '' && formInput.required) {
                            formInput.hasError = true;
                            isSendData = false;
                        } else {
                            formInput.hasError = false;
                        }
                    }

                    if (isSendData) {
                        let order = {
                            products: this.$store.getters.getProductsInCart,
                            form: this.form
                        };
                        console.log(order);
                    }
                }
            }
        },
        // watch: {
        //     form: {
        //         handler(val){
        //             for(let key in val){
        //                 let formInput = val[key];
        //                 formInput.hasError = formInput.value === '' && formInput.required;
        //             }
        //
        //             // val.forEach((el)=>{
        //             //     el.hasError = el.value !== '' && el.required;
        //             // })
        //         },
        //         deep: true
        //     }
        // },
        created(){
            // console.log(this.$store.state.products);
            // console.log(this.$store.getters.cartTotal);
        },
    }
</script>

<style lang="scss">

    @import "../assets/scss/variables";

    .cart-page{
        min-height: 100vh;
        background-color: $c_dark_white;
        .cart-title{
            font-size: $vw_21;
            padding-bottom: $vw_21;
            font-weight: bold;
        }
        .cart-container{
            display: flex;
            justify-content: space-between;
        }
        .cart-page-products{
            width: calc(100vw - (#{$vw_610} + #{$vw_26}));
        }
        .cart-page-sidebar{
            width: calc(#{$vw_610} + #{$vw_26});
            height: calc(100vh - #{$vw_55});
            background-color: $c_white;
            .form{
                label{
                    color: $c_black_light;
                    font-size: $vw_16;
                    display: block;
                    padding-bottom: $vw_5;
                    &.error{
                        color: red;
                    }
                }
                input, textarea{
                    outline: none;
                    background-color: $c_dark_white;
                    border-radius: $vw_3;
                    font-size: $vw_21;
                    font-weight: 600;
                    display: block;
                    margin: 0;
                    border: none;
                    width: 100%;
                    box-sizing: border-box;
                }
                input{
                    line-height: $vw_42;
                    padding: 0 $vw_13;
                }
                textarea{
                    line-height: $vw_34;
                    padding: $vw_13;
                    resize: none;
                    height: $vw_144;
                }
                .field-container{
                    padding-bottom: $vw_34;
                }
                .form-row{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    &.field-count-2 .field-container{
                        width: calc((100% - #{$vw_34}) / 2);
                    }
                }
            }
        }
        .products-in-cart{
            padding-bottom: $vw_42;
            max-height: calc(100vh - (#{$vw_55 * 7 + $vw_89}));
            margin-right: -$vw_55;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .single-product-in-cart{
            &:first-child{
                margin-top: 0;
            }
            display: flex;
            width: calc(100% - #{$vw_55});
            border-radius: $vw_5;
            justify-content: space-between;
            align-items: center;
            background-color: $c_white;
            margin-top: $vw_21;
            box-sizing: border-box;
            height: $vw_110;
            position: relative;
            .left-container{
                box-sizing: border-box;
                padding: $vw_13;
                width: $vw_377;
            }
            .left-container,
            .right-container{
                height: 100%;
                display: flex;
                align-items: center;
            }
            .product-img{
                width: auto;
                height: 100%;
                object-fit: cover;
            }
            .product-title{
                padding-left: $vw_21;
                font-size: $vw_21;
                text-transform: uppercase;
                color: $c_grey_dark;
                .name a{
                    font-weight: bold;
                    text-decoration: none;
                    color: $c_grey_dark;
                }
            }
            .product-male,
            .product-size,
            .product-price{
                border-left: 1px solid $c_dark_white;
                font-weight: bold;
                font-size: $vw_21;
                text-transform: uppercase;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-weight: normal;
                    padding-left: $vw_5;
                }
            }
            .product-male,
            .product-price{
                width: $vw_233;
            }
            .product-size{
                width: $vw_110;
            }
        }
        .cart-buy{
            padding-top: $vw_34;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .total{
                font-size: $vw_21;
                padding-right: $vw_34;
                span{
                    font-weight: bold;
                }
            }
            button{
                font-size: $vw_21;
                font-weight: bold;
                text-transform: uppercase;
                display: block;
                background-color: $c_grey_dark;
                color: $c_white;
                width: $vw_233;
                line-height: $vw_55;
                cursor: pointer;
                outline: none;
                margin: 0;
                border: none;
                transition: .3s;
                border-radius: $vw_26;
                &:hover{
                    transition: .3s;
                    background-color: $c_black;
                }
            }
        }
    }
</style>