<template>
    <main class="contact-page">
        <div class="contact-page-container">
            <div class="sidebar">
                <div class="container">
                    <div class="title">Контакты</div>
                    <div class="description-container">
                        <div class="align-center">
                            <div class="description-block">
                                <div class="description-title">Адрес</div>
                                <div class="description-data">Украина, г. Одесса <br/> ул. Бунина 22</div>
                            </div>
                            <div class="description-block">
                                <div class="description-title">Связь</div>
                                <div class="description-data">info@manjulteam.com <br/> +38 09328158850</div>
                            </div>
                            <div class="description-block">
                                <div class="description-title">Сети</div>
                                <div class="description-data">
                                    <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                                    <a href="https://www.instagram.com/" target="_blank">Instagram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1374.9319527974224!2d30.763238000631!3d46.43157699815485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6338a35632123%3A0x7dc23f606582a871!2z0KbQtdC90YLRgCDRgNCw0LfQstC40YLQuNGPINC4INC_0LXRgNC10LzQtdC9ICLQmtGA0LDRgdC90LDRjyDQodGC0YDQvtC60LAi!5e0!3m2!1sru!2sua!4v1548924625844" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        name: "Contact"
    }
</script>

<style lang="scss">

    @import "../../src/assets/scss/variables";

    .contact-page{
        overflow: hidden;
        .contact-page-container{
            height: calc(100vh - #{$vw_55});
            display: flex;
            padding-top: $vw_55;
        }
        .sidebar{
            width: $vw_610;
            height: 100%;
        }
        .map{
            width: calc(100vw - #{$vw_610});
        }
        iframe{
            filter: grayscale(1);
        }

        .container{
            height: 100%;
        }

        .description-container{
            height: calc(100% - #{$vw_110} - #{$vw_110});
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .description-block{
                width: 100%;
                padding-bottom: $vw_68;
            }
            .description-title{
                font-size: $vw_21;
                line-height: 1;
                padding-bottom: $vw_16;
            }
            .description-data{
                font-size: $vw_34;
                line-height: 1;
            }
            a{
                display: block;
                color: $c_black;
                font-size: $vw_34;
                text-decoration: none;
            }
        }
    }
</style>