<template>
    <main class="home-page">
        <Slider/>
        <div class="container">
            <Posts title="Новые товары" :items="products"></Posts>
            <div class="space-233"></div>
            <div class="button-container">
                <router-link
                        :to="{ name: 'shop'}"
                        class="button"
                        v-wow="{ 'animation-name': 'fadeInUp','animation-duration': '.8s'}">
                    Просмотреть все товары
                </router-link>
            </div>
            <div class="space-233"></div>
        </div>
    </main>
</template>

<script>

    import Slider from '../components/slider/Slider';
    import Posts from '../components/products/ArchiveShop';
    import MixinProducts from '@/mixins/products'

    export default {
        name: "Home",
        components: {Slider, Posts},
        mixins: [MixinProducts],
        computed: {
            products: function () {
                return this.getMoreProducts(0, 0)
            }
        },
        methods: {
            homePageAnimation(){
                let slider = document.getElementById('slider-container');

                if (slider) {
                    let isHiddenSlider = slider.classList.contains('hidden-slider'),
                        isSliderAnimation = slider.classList.contains('slider-animation');

                    if(isSliderAnimation) {
                        window.scrollTo(0, 0);
                        console.log(isHiddenSlider)
                    }
                }
            }
        },
        created(){
            // window.addEventListener('scroll', () => {
            //     console.log(2);
            //     this.homePageAnimation();
            // });
        }
    }
</script>

<style lang="scss">

    @import "../../src/assets/scss/variables";

    .home-page{
        .slider-container{
            transition: .5s;
            overflow: hidden;
            height: 100vh;
            &.hidden-slider{
                height: $vw_55;
            }
        }
        .button-container{
            display: flex;
            justify-content: center;
        }
        .button{
            display: inline-flex;
            height: $vw_55;
            margin: 0 auto;
            align-items: center;
            color: $c_white;
            background-color: $c_black;
            text-decoration: none;
            padding: 0 $vw_34;
            font-size: $vw_21;
            font-weight: bold;
            border-radius: $vw_34;
            text-transform: uppercase;
            transition: .4s;
            &:hover{
                transition: .4s;
                background-color: $c_grey;
            }
        }
    }
</style>