<template>
    <main class="look-book-single-page">
        <div class="space-55"></div>
        <div class="look-book-single-container">
            <div class="container">
                <div class="title">{{lookBookData.title}}</div>
            </div>
            <div class="gallery-container">
                <article>
                    <img :src="'/look_book/' + lookBookData.data.thumbnail" :alt="lookBookData.title">
                </article>
                <article v-for="image in lookBookData.data.gallery" :key="image.id">
                    <img :src="'/look_book/' + image.url" :alt="lookBookData.title + '_' + image.id">
                </article>
            </div>
        </div>
        <div class="container">
            <ArchiveLookBook title="Look Book" :posts="getMoreLookBooks(lookBookData.id)"></ArchiveLookBook>
        </div>
        <div class="space-233"></div>
    </main>
</template>

<script>

    import LookBook from '@/mixins/look-book';
    import ArchiveLookBook from '../components/products/ArchiveLookBook';

    export default {
        name: "LookBookSingle",
        mixins: [LookBook],
        components: {ArchiveLookBook},
        computed: {
            lookBookData(){
                return this.getLookBookByUrl(this.$route.params.url);
            }
        },
        // created(){
        //     console.log(this.lookBookData)
        // }
    }
</script>

<style lang="scss">
    .look-book-single-page{
        .gallery-container{
            img{
                width: 100%;
                display: block;
            }
        }
    }
</style>