<template>
    <main class="single-product">
        <div class="space-55"></div>
        <div class="single-product-container">
            <div class="single-product-gallery" v-bind:class="{'open-gallery': isOpenGallery}">
                <div class="gallery-container clearfix" v-on:click.self="closeGallery()">
                    <div class="close-gallery" @click="isOpenGallery = false">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="gallery-single-img" v-for="(img, index) in productData.images.gallery" :key="index" :class="img.class">
                        <img :src="'/products/' + img.url" :alt="productData.name" @click="openGallery()">
                    </div>
                </div>
            </div>
            <div class="single-product-data">
                <div class="space-55"></div>
                <div class="container">
                    <div class="sp-category">{{getMaleTitleById(productData.male)}}</div>
                    <div class="sp-title">
                        {{productData.key}} <br/>
                        {{productData.name}}
                    </div>
                    <div class="sp-price-container">
                        <div class="sp-price-data">{{productData.price}} {{$store.state.currency}}</div>
                        <div class="sp-price-button">
                            <button v-on:click="addProductToCart()">{{buttonName}}</button>
                        </div>
                    </div>
                    <div class="sp-sizes">
                        <div class="sp-size-title">
                            Выбери размер
                        </div>
                        <div class="sp-size-data">
                            <div class="sp-size-data-single" v-for="size in productSizes" :key="size.id" :class="{'disabled': !productData.sizes.includes(size.id)}">
                                <label :for="'sp-size-' + size.label" v-bind:class="{ active: picked === size.id }">{{size.label}}</label>
                                <input type="radio" :id="'sp-size-' + size.label" :value="size.id" v-model="picked" :disabled="!productData.sizes.includes(size.id)">
                            </div>
                        </div>
                    </div>
                    <div class="sp-description">
                        <div class="sp-description-title">
                            Описание товара
                        </div>
                        <div class="sp-description-data">
                            Идейные соображения высшего порядка, а также укрепление и
                            развитие структуры влечет за собой процесс внедрения и
                            модернизации новых предложений. Равным образом постоянный
                            количественный рост и сфера нашей активности способствует
                            подготовки и реализации форм
                            развития.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-34 border-bottom"></div>
        <div class="more-products">
            <div class="container">
                <Posts :title="this.moreProductsTitle.title" :items="moreProducts"></Posts>
            </div>
        </div>
    </main>
</template>

<script>

    import MixinProducts from '@/mixins/products'
    import Mixins from '@/mixins/main'
    import Posts from '../components/products/ArchiveShop';

    export default {
        name: "Product",
        components: {Posts},
        data(){
            return {
                picked: '',
                isOpenGallery: false
            }
        },
        mixins: [MixinProducts, Mixins],
        computed: {
            moreProductsTitle(){
              return this.getTitleDataForMoreProducts(this.productData.male);
            },
            productData: function () {
                return this.getProductByUrl(this.$route.params.url);
            },
            moreProducts: function () {
                return this.getMoreProducts(this.productData.id, this.moreProductsTitle.maleID)
            },

            buttonName: function () {
                return this.isProductInCart(this.productData.id) ? 'в корзине' : 'купить';
            },
        },
        methods:{
            addProductToCart(){
                if(!this.isProductInCart(this.productData.id) && this.picked){
                    let productsInCart = this.$store.state.cart.products;
                    productsInCart.push({product_id: this.productData.id, size_id: this.picked});
                    this.$store.commit('setCartProducts', productsInCart);
                }
            },
            changeProductSize(){
                if(this.isProductInCart(this.productData.id)){
                    let that = this;
                    let productsInCart = this.$store.state.cart.products;

                    productsInCart.forEach(function (el, index) {
                        if(el.product_id === that.productData.id){
                            productsInCart[index].size_id = that.picked;
                        }
                    });


                    this.$store.commit('setCartProducts', productsInCart);
                }
            },
            pickedSelected: function () {
                let result = '';

                if(this.isProductInCart(this.productData.id)){
                    let that = this;

                    this.$store.state.cart.products.forEach(function (el) {
                        if(el.product_id === that.productData.id){
                            result = el.size_id;
                        }
                    });
                }

                return result;
            },
            openGallery(){
                if(!this.isOpenGallery){
                    setTimeout(()=>{
                        document.body.scrollTop = 0; // For Safari
                        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
                        this.isOpenGallery = true
                    },50)
                }
            },
            closeGallery(){
                if(this.isOpenGallery){
                    this.isOpenGallery = false
                }
            }
        },
        watch:{
            picked(){
                this.changeProductSize();
            }
        },
        created(){
            this.picked = this.pickedSelected();
        },
    }
</script>

<style lang="scss">

    @import "../../src/assets/scss/variables";

    .single-product{
        .close-gallery{
            position: fixed;
            right: $vw_34;
            top: $vw_34;
            width: $vw_26;
            height: $vw_26;
            cursor: pointer;
            display: none;
            span{
                width: 100%;
                height: $vw_2;
                position: absolute;
                top: calc(50% - #{$vw_1});
                background-color: $c_black;
                transition: .3s;
                &:first-child{
                    transform: rotate(45deg);
                }
                &:last-child{
                    transform: rotate(-45deg);
                }
            }
            &:hover span{
                transition: .3s;
                background-color: $c_grey;
            }
        }
        .single-product-container{
            display: flex;
            .single-product-gallery{
                &.open-gallery{
                    .close-gallery{
                        display: block;
                    }
                    min-height: 100vh;
                    .gallery-container{
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        background: $c_white;
                        z-index: 500;
                        padding: $vw_144 $vw_288;
                        .gallery-single-img{
                            padding-bottom: $vw_89;
                            &.img-half{
                                width: 100%;
                                padding: 0 0 $vw_89 0;
                            }
                            img{
                                cursor: default;
                            }
                        }
                    }
                }
                width: calc(100vw - (#{$vw_610} + #{$vw_26}));
            }
            .single-product-data{
                width: calc(#{$vw_610} + #{$vw_26});
                .sp-category{
                    font-weight: bold;
                    font-size: 21px;
                    text-transform: uppercase;
                    line-height: 1;
                    padding-bottom: $vw_34;
                }
                .container{
                    position: sticky;
                    top: $vw_110;
                    padding-bottom: $vw_21;
                }
                .sp-title{
                    font-size: 16px;
                    color: $c_grey;
                    padding-bottom: $vw_42;
                }
                .sp-price-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: $vw_55;
                    .sp-price-data{
                        font-size: $vw_34;
                    }
                    .sp-price-button button{
                        color: $c_white;
                        background-color: $c_grey_dark;
                        border: none;
                        outline: none;
                        font-weight: bold;
                        font-size: $vw_21;
                        transition: .4s;
                        padding: 0 $vw_34;
                        border-radius: $vw_34;
                        line-height: $vw_42;
                        cursor: pointer;
                        &:hover{
                            background-color: $c_black;
                            transition: .4s;
                        }
                    }
                }
                .sp-size-data{
                    display: flex;
                    .sp-size-data-single{
                        width: $vw_68;
                        height: $vw_55;
                        margin-right: $vw_21;
                        &:last-child{
                            margin-right: 0;
                        }
                        input{
                            display: none;
                        }
                        label{
                            background-color: $c_grey_light;
                            border: $vw_2 solid $c_grey_light;
                            box-sizing: border-box;
                            border-radius: $vw_3;
                            width: 100%;
                            height: 100%;
                            display: block;
                            text-align: center;
                            line-height: $vw_55;
                            cursor: pointer;
                            font-size: $vw_21;
                            font-weight: 600;
                            color: $c_grey;
                            transition: .3s;
                            &.active{
                                color: $c_white;
                                transition: .3s;
                                background-color: $c_grey_dark;
                                border-color: $c_grey_dark;
                            }
                        }
                        &.disabled{
                            label{
                                cursor: default;
                                background-color: transparent;
                                color: $c_grey_light;
                                opacity: .5;
                                border-color: $c_grey_light;
                            }
                        }
                    }
                }
                .sp-sizes{
                    padding-bottom: $vw_42;
                    .sp-size-title{
                        font-size: $vw_16;
                        line-height: 1;
                        color: $c_grey;
                        padding-bottom: $vw_13;
                    }
                }
                .sp-description{
                    color: $c_grey;
                    .sp-description-title{
                        font-size: $vw_21;
                        padding-bottom: $vw_21;
                    }
                    .sp-description-data{
                        font-size: $vw_16;
                    }
                }

            }
        }
        .gallery-container{
            padding-top: $vw_55;
            padding-left: $vw_55;
            img{
                width: 100%;
                display: block;
                height: auto;
                object-fit: cover;
                cursor: pointer;
            }
            .gallery-single-img{
                position: relative;
                z-index: 2;
                width: 100%;
                padding-bottom: $vw_21;
                float: left;
            }
            .img-half{
                width: calc((100% - #{$vw_21}) / 2);
                &~.img-half{
                    padding-left: $vw_21;
                    &.not-padding-left{
                        padding-left: 0;
                    }
                }
            }

        }
    }
</style>