<template>
    <main class="shop-page">
        <div class="space-55"></div>
        <div class="container">
            <Posts :title="titleData.title" :items="products"></Posts>
        </div>
        <div class="space-377"></div>
    </main>
</template>

<script>

    import Posts from '../components/products/ArchiveShop';
    import Mixins from '@/mixins/main'
    import MixinProducts from '@/mixins/products'

    export default {
        name: "Home",
        components: {Posts},
        mixins: [Mixins, MixinProducts],
        computed: {
            titleData: function () {
                return this.getTitleDataForMoreProducts();
            },
            products: function () {
                return this.getProducts(this.titleData.maleID, -1)
            }
        }
    }
</script>

<style>

</style>