<template>
    <header v-bind:class="{ 'menu-open': menuStatus, 'cart-sidebar-open': sidebarStatus }">
        <div class="header-container">
            <Burger @changeMenuStatus="menuStatus = !menuStatus"></Burger>
            <Logo/>
            <Cart @changeCartSidebarStatus="changeCartSidebarStatus()"></Cart>
        </div>
        <Menu @changeMenuStatus="menuStatus = false"></Menu>
    </header>
</template>

<script>
    import Menu from './menu/Menu';
    import Burger from './menu/Burger';
    import Logo from './menu/Logo';
    import Cart from './menu/Cart';

    export default {
        name: "Header",
        props: ['sidebarStatus'],
        data(){
          return{
              menuStatus: false
          }
        },
        components: {
            Menu,
            Burger,
            Logo,
            Cart
        },
        methods:{
            changeCartSidebarStatus: function () {
                this.$emit('changeCartSidebarStatus');
            }
        }
    }
</script>

<style lang="scss">

    @import "../../../src/assets/scss/variables";

    header{
        .header-container{
            background-color: black;
            width: 100%;
            height: 2.864vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.833vw;
            box-sizing: border-box;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 15;
            overflow: hidden;
        }
        &::after{
            position: absolute;
            top: -$vw_288;
            left: 0;
            z-index: 10;
            content: '';
            background-color: black;
            width: 100vw;
            height: $vw_288;
        }
    }

    header{
        /*position: fixed;*/
        /*width: 100%;*/
        /*left: 0;*/
        /*top: 0;*/
        /*z-index: 5;*/
        /*overflow: hidden;*/
    }
</style>