<template>
  <div id="app">
    <Header @changeCartSidebarStatus="isOpenCartSidebar = !isOpenCartSidebar" :sidebarStatus="isOpenCartSidebar"></Header>
    <transition name="component-fade" mode="out-in">
        <router-view :key="$route.fullPath"></router-view>
    </transition>
    <CartSidebar @changeCartSidebarStatus="isOpenCartSidebar = !isOpenCartSidebar" :isOpen="isOpenCartSidebar"/>
  </div>
</template>

<script>

    import Header from './components/header/Header';
    import CartSidebar from './components/cart/Sidebar';
    import MixinLookBook from '@/mixins/look-book'
    import MixinPoducts from '@/mixins/products'

    export default {
        name: 'app',
        components: {
            Header,
            CartSidebar
        },
        mixins: [MixinLookBook, MixinPoducts],
        data () {
            return {
                isOpenCartSidebar: false,
            }
        },
        created(){
            this.$store.commit('loadProducts', this.productsDemo);
            this.$store.commit('loadLookBooks', this.lookBooksDemo);
            this.$store.commit('loadProductsSizes', this.productSizes);
            this.$store.commit('loadProductMale', this.productMale);

            // new WOW().init();
        }
    }
</script>

<style lang="scss">

  @import "./assets/scss/fonts";
  @import "./assets/scss/variables";

  html *{
    margin: 0;
    padding: 0;
    font-family: Panton, Arial, sans-serif;
  }

  #app{
    position: relative;
    /*overflow-x: hidden;*/
    min-height: 100vh;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .container{
    width: 100%;
    padding: 0 $vw_55;
    box-sizing: border-box;
  }
  .clearfix::after{
    content: '';
    display: block;
    clear: both;
   }

  .title{
    font-size: $vw_34;
    font-weight: 600;
    padding-bottom: $vw_55;
    line-height: 1;
    padding-top: $vw_42;
  }

  .space-34{
    height: $vw_34;
    width: 100%;
  }
  .space-55{
    height: $vw_55;
    width: 100%;
  }
  .space-89{
    height: $vw_89;
    width: 100%;
  }
  .space-233{
    width: 100%;
    height: $vw_233;
  }
  .space-377{
    width: 100%;
    height: $vw_377;
  }

  .left-55{
    padding-left: $vw_55;
  }

  .border-bottom{
    border-bottom: 1px solid #F0F0F0;
  }

  article{
    .article-remove{
      cursor: pointer;
      position: absolute;
      top: $vw_42;
      transition: .3s;
      right: -$vw_42;
      height: $vw_26;
      width: $vw_26;
      span{
        height: $vw_3;
        width: 100%;
        position: absolute;
        top: calc((#{$vw_26} - #{$vw_3})/2);
        left: 0;
        background-color: $c_black;
        display: block;
        transition: .3s;
        &:first-child{
          transform: rotate(-45deg);
        }
        &:last-child{
          transform: rotate(45deg);
        }
      }
      &:hover span{
        transition: .3s;
        background-color: $c_grey;
      }
    }
  }

  .component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .4s ease;
  }
  .component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
