<template>
    <div class="carousel-wrapper" :class="{ collapsed: slider_collapse }" ref="slider">
        <carousel :items="1" :loop="true" :nav="false" :autoplay="true" class="slider-container slider-animation" id="slider-container">
            <div v-for="(lookBook, index) in getLookBooks()" :key="index" class="single-slide">
                <img :src="'/look_book/' + lookBook.data.thumbnail" :alt="lookBook.title">
                <router-link :to="{ name: 'lookBookSingle', params: {url: lookBook.url}}"><h4>{{lookBook.title}}</h4></router-link>
            </div>
        </carousel>
        <div ref="slider_bottom"></div>
    </div>
</template>

<script>

    import carousel from 'vue-owl-carousel'
    import MixinLookBook from '@/mixins/look-book'

    export default {
        name: "Slider",
        mixins: [MixinLookBook],
        components: { carousel },
        data: function() {
            return {
                slider_collapse : false
            }
        },
        created() {
            this.listenScroll();
        },
        methods: {
            listenScroll() {
                window.onscroll = () =>  {
                    if( !this.slider_collapse ) {
                        this.slider_collapse = true;
                    }
                    else {
                        if( window.pageYOffset === 0 ){
                            this.slider_collapse = false;
                        }
                    }
                };
            },
        }
    }
</script>

<style lang="scss">

    @import "../../../src/assets/scss/variables";

    .carousel-wrapper {
        transition: max-height 1s ease-out;
        max-height: 100vh;
        overflow: hidden;
        &.collapsed {
            max-height: 15vh;
        }
        .owl-carousel.owl-theme{
            position: relative;
            .single-slide{
                height: 100%;
                position: relative;
                h4{
                    position: absolute;
                    bottom: $vw_89;
                    font-size: $vw_55;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: $c_white;
                    font-weight: normal;
                    text-transform: uppercase;
                }
            }
            .owl-dots{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin-top: 0;
                margin-bottom: $vw_55;
                button{
                    outline: none;
                    span{
                        width: $vw_55;
                        height: $vw_5;
                        border-radius: $vw_5;
                        margin: 0 $vw_13;
                        background-color: #ECECEC;
                        opacity: .38;
                        transition: .3s;
                    }
                    &.active{
                        span{
                            transition: .3s;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .owl-stage-outer{
            height: 100vh;
            .owl-stage{
                height: 100%;
                .owl-item{
                    height: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
</style>